<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Lista Dipartimenti</title>

</head>

<body>
<h1>Lista Dipartimenti</h1>

<a th:href="@{/dipartimenti/formDipartimento}">Aggiungi Dipartimento</a>

 <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Dipartimento</th>
                <th>Sede</th>
            </tr>
        </thead>
          <tbody> 
        
             <tr th:each="dipartimento : ${listaDipartimenti}">
               <td th:text="${dipartimento.id}"></td>
                <td th:text="${dipartimento.nome}"></td>
                <td th:text="${dipartimento.indirizzo}"></td>
                
               <td> <a th:href="@{/dipartimenti/elimina/{id}(id=${dipartimento.id})}">Elimina</a> </td>
               </tr>
         </tbody>
 
</table>
<p><a th:href="@{/dipendenti/}">Torna alla Gestione Dipendenti</a></p>
</body>